<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
  <configSections>
    <section name="RestEmailClient" type="System.Configuration.NameValueSectionHandler" />
    <section name="SimpleEmailClient" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <RestEmailClient>
    <add key="IsRestSharp" value="true" />
    <add key="EmailEndpoint" value="https://api.mailgun.net/v2/" />
    <add key="UserName" value="sunchenliangsun05232014000@mailgun.com" />
    <add key="ApiKey" value="...." />
    <add key="Domain" value="sandbox2fe18c02e0b04bdca2dbf5da848b21e4.mailgun.org" />
  </RestEmailClient>
  <SimpleEmailClient>
    <add key="IsRestSharp" value="false" />
    <add key="EmailEndpoint" value="https://api.elasticemail.com/mailer/send" />
    <add key="UserName" value="clsun1@gmail.com" />
    <add key="ApiKey" value="...." />
    <add key="Domain" value="shouldnotmatterhere.com" />
  </SimpleEmailClient>
  <appSettings>
    <add key="LogFilePath" value="EmailingRecord"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>